<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>감독 정보</title>
    <style>
        body {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: 0;
          padding: 0;
          line-height: 1.4;
        }

        h2, h3, span, a {
          margin: 5px 0;
        }
    </style>
</head>
<body>


<h2>감독 정보</h2><br/>
<img th:src="${director.photo}" width="225" height="300"/> <br/>
<h3>이 름</h3>  <span th:text="${director.name}"></span> <br/>
<h3>출 생</h3> <span th:text="${director.birth}"></span> <br/>
<h3>국 적</h3> <span th:text="${director.nationality}"></span> <br/>
<h3>대표작</h3> <span th:text="${director.work}"></span> <br/>

<a href="javascript:history.back()">[뒤로가기]</a>
</body>
</html>